body {
    overflow-y: auto;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: url(../images/back.svg);
    background-repeat: no-repeat;
    background-position-x: -400px ;
}

.centered {
    text-align: center;
}

.header {
    font-size: 20px;
    line-height: 80px;
}

.search-container {
    font-size: 0px;
}

.search-container svg {
    color: #AAA;
    height: 15px;
    margin: 7.5px;
}

.search-container svg:hover {
    color: #666;
}

.search-container div {
    display: inline-block;
    background-color: #fff;
    height: 30px;
    width: 30px;
    padding: 0px;
    vertical-align: middle;
    box-shadow: 3px 3px #EEE;
}

.left-rounded {
    border:none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.right-rounded {
    border:none;
    border-left: 3px solid #EEE;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-bar {
    vertical-align: middle;
    width: 400px;
    line-height: 30px;
    padding: 0px;
    border:none;
    box-shadow: 3px 3px #EEE;
}

.search-bar:focus {
    outline: none;
}

.display-div {
    height: 600px;
    margin-top: 200px;

    background-color: aquamarine;
}