body {
    overflow-y: auto;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-image: url(/static/images/back.svg);
    background-repeat: no-repeat;
    background-position-x: -400px;
    background-position-y: -50px;
}

.centered {
    text-align: center;
}

.header {
    font-size: 20px;
    line-height: 80px;
}

.search-container {
    font-size: 0px;
}

.search-container img {
    filter: opacity(35%);
    height: 15px;
    margin: 7.5px;
}

.search-container img:hover {
    filter: opacity(70%);
}

.search-container button {
    display: inline-block;
    background-color: #fff;
    height: 30px;
    width: 30px;
    padding: 0px;
    vertical-align: middle;
    box-shadow: 3px 3px #EEE;
    cursor: pointer;
}

.left-rounded {
    border:none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.right-rounded {
    border:none;
    border-left: 3px solid #EEE;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.search-bar {
    vertical-align: middle;
    width: 600px;
    line-height: 30px;
    padding: 0px;
    border:none;
    box-shadow: 3px 3px #EEE;
}

.search-bar:focus {
    outline: none;
}

.tab-container {
    margin-top: 150px;
}

.tab {
    width: inherit;
    height: 40px;
    background-color: #f8f9fa;
}

.tab button {
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: inherit;
    height: 40px;
    padding: 10px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    width: 1000px;
}

#company {
    padding-top: 50px;
}

.tabcontent table {
    display: inline-block;
}

.tabcontent tr {
    height: 30px;
    box-shadow: 0px 2px #EEE;
}

.tabcontent th {
    padding: 5px;
    width: 50%;
    font-weight: bold;
    text-align: right;
}

.tabcontent td:not(.centered) {
    text-align: left;
    padding: 5px;
}

.trend-container {
    font-size: 0px;
    margin: 25px;
}

.trend-container div {
    font-size: 16px;
    text-align: center;
    vertical-align: top;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    width: 40px;
    color: white;
}

.trend-container div.end {
    width: 60px;
    line-height: 16px;
}

.news-block {
    background-color: #f8f9fa;
    text-align: left;
    margin: 10px 0px 20px;
    padding: 10px;
}

.news-block div {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-left: 10px;
    width: 650px;
}

#error-message {
    margin-top: 250px;
    display: none;
    height: 40px;
    line-height: 40px;
    width: 600px;
    background-color: #ddd;
    border-radius: 10px;
}

.bold {
    font-weight: bold;
}

a.subtitle tspan{
    text-decoration: underline;
    fill: blue;
}

a.subtitle:visited tspan {
    fill: purple;
}

#chart-container {
    height: 550px;
}