.container{
    height: 100%;
    font-size: 0;
    position: relative;
    background-color: lightgrey;
}

.container::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../../assets/images/background-graph.jpg);
    background-position-y: -100px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.3;
}

.center::before {
    height: 100%;
}

.center {
    text-align: center;
    vertical-align: middle;
    position: relative;
    padding-top: 50px;
    z-index: 1;
}

.title {
    padding: 40px;
    font-size: 25px;
    font-weight: bold;
    
}

button {
    height: 30px;
    width: 30px;
    border: none;
    background-color: transparent;
    padding: 0px;
    vertical-align: top;
    cursor: pointer;
}

img {
    height: 15px;
}

.search-container {
    width: fit-content;
    padding: 5px;
    border: solid 3px darkblue;
    border-radius: 30px;
    margin: auto;
    
}

.search-bar {
    width: 250px;
    height: 30px;
    line-height: 30px;
    padding: 0px;
    border: none;
    vertical-align: top;
    background-color: transparent;
}

.search-bar:focus {
    outline: none;
}