.center::before {
    height: 100%;
}

.center {
    text-align: center;
    vertical-align: middle;
    height: 100%;
    background-image: url(../../assets/images/background-graph.jpg);
    background-position-y: -200px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container{
    padding-top: 5%;
    font-size: 25px;
    font-weight: bold;
}

button {
    height: 30px;
    width: 30px;
    border: none;
    background-color: transparent;
    padding: 0px;
    vertical-align: top;
    cursor: pointer;
}

img {
    height: 15px;
}

.search-container {
    width: fit-content;
    padding: 5px;
    border: solid 3px darkblue;
    border-radius: 30px;
    margin: auto;
    
}

.search-bar {
    width: 250px;
    height: 30px;
    line-height: 30px;
    padding: 0px;
    border: none;
    vertical-align: top;
    background-color: transparent;
}

.search-bar:focus {
    outline: none;
}