body {
    overflow-y: auto;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.topnavbar {
    background-color: #fff;
    height:50px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

.topnavbar a {
    float: left;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-weight: bold;
    color: #000;
}

.topnavbar a.active {
    color: #8c7642;
}

.topnavbar a.gold {
    color: #af9453;
}


.block {
    text-align: center;
    font-size: 0;
}

.block::before {
    content:'';
    display: inline-block;
    height:100%;
    vertical-align: middle;
}

.centered {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.top-block {
    height: 700px;
    top: 50px;
}

.top-image {
    background-image: url(/images/image3.png);
    background-attachment: fixed;
    background-position-y: -400px;
    right: 0;
    left: 0;
}

.mid-block {
    height: 1600px;
    background-color: #fff;
    padding: 50px;
}

.gold-block {
    background-image: url(/images/flower.png);
    background-position-x: -45px;
    width: 320px;
    height: 580px;
}

.gold-block .title {
    position: relative;
    top: 100px;
    text-align: center;
}

.gold-block .description {
    position: relative;
    top: 200px;
    text-align: center;
}

.gold-block .button {
    position: relative;
    top: 250px;
    text-align: center;
    border: 1px solid;
    margin: 0px 50px;
}

.flex-block {
    display: flex;
    justify-content: space-between;
}

.arr {
    line-height: 400px;
    height: 400px;
}

.testimonial-block {
    text-align: center;
}

.inline-block { 
    display: inline-block;
    vertical-align: middle;
}

.img-block {
    background-image: url(/images/image2.png);
    background-attachment: fixed;
    width: 100%;
    height: 700px;
}

.gallery-block {
    margin: 50px;
}

footer {
    padding: 50px;
    background-color: #fff;
}

.footer-block {
    height: 200px;
    padding: 50px;
    background-color: #af9453;
}

.footer-block p {
    display: inline-block;
    padding: 0px 15px;
    text-align: left;
}

.footer-block .top {
    vertical-align: top;
}

.footer-block .button {
    border: 1px solid;
    padding: 10px;
    height: 30px;
    line-height: 30px;
}

.border-right {
    border-right: 1px solid;
}


.fs-l {
    font-size: 55px;
}

.fs-m {
    font-size: 32px;
}

.fs-s {
    font-size: 16px;
}

.white {
    color: #fff;
}

.gold {
    color: #af9453;
}

.black {
    color: #000;
}

.ff-serif {
    font-family:Garamond, serif;
}

.ff-san-serif {
    font-family: Arial, Helvetica, sans-serif;
}


.right {
    float: right;
}
