body {
    overflow-y: auto;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.topnavbar {
    background-color: #fff;
    height:50px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

.topnavbar a {
    float: left;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    color: #000;
    font-size: 12px;
    font-weight: bold;
}

#logo {
    color: #af9453;
}

.topnavbar a.active {
    color: #8c7642;
}

span.right {
    float: right;
}

.block {
    text-align: center;
    white-space: normal;
}

.block::before {
    content:'';
    display: inline-block;
    height:100%;
    vertical-align: middle;
}

.centered {
    display: inline-block;
    vertical-align: middle;
}

.top-block {
    height: 700px;
    top: 50px;
}

.top-image {
    background-image: url(/images/image3.png);
    background-position-y: -400px;
    position: fixed;
    right: 0;
    left: 0;
    z-index:-1;
}

p.white-serif {
    font-size: 36px;
    font-family:Garamond, serif;
    color: #fff;
}

.mid-block {
    height: 1500px;
    background-color: #fff;
    padding: 50px;
}

.gold-block {
    background-color: #af9453;
    height: 400px;
}

.inline-block {
    display: inline-block;
}

footer {
    padding: 50px;
    background-color: #fff;
}

.footer-block {
    height: 200px;
    padding: 50px;
    background-color: #af9453;
}

.footer-block p{
    display: inline-block;
    vertical-align: top;
    color: #fff;
    padding: 0px 15px;
}

.border-right {
    border-right: 1px solid;
}