body {
    overflow-y: auto;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.topnavbar {
    background-color: #fff;
    height:50px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

.fs-l {
    font-size: 50px;
}

.fs-m {
    font-size: 30px;
}

.fs-s {
    font-size: 15px;
}

.white {
    color: #fff;
}

.gold {
    color: #af9453;
}

.black {
    color: #000;
}

.ff-serif {
    font-family:Garamond, serif;
}

.ff-san-serif {
    font-family: Arial, Helvetica, sans-serif;
}

.topnavbar a {
    float: left;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-weight: bold;
}


.topnavbar a.active {
    color: #8c7642;
}

.right {
    float: right;
}

.block {
    text-align: center;
}

.block::before {
    content:'';
    display: inline-block;
    height:100%;
    vertical-align: middle;
}

.centered {
    display: inline-block;
    vertical-align: middle;
}

.top-block {
    height: 700px;
    top: 50px;
}

.top-image {
    background-image: url(/images/image3.png);
    background-position-y: -400px;
    position: fixed;
    right: 0;
    left: 0;
    z-index:-1;
}

.mid-block {
    height: 1500px;
    background-color: #fff;
    padding: 50px;
}

.gold-block {
    background-image: url(/images/flower.png);
    width: 400px;
    padding: 0px 15px;
}

.gold-block .title {
    position: relative;
    top: 100px;
    text-align: center;
}

.gold-block .description {
    position: relative;
    top: 200px;
    text-align: center;
}

.gold-block .button {
    position: relative;
    top: 250px;
    text-align: center;
    border: 1px solid;
    margin: 0px 50px;
}


.img-block {
    height: 580px;
    display: inline-block;
    vertical-align: top;
}

.inline-block{
    display: inline-block;
    vertical-align: middle;
}

footer {
    padding: 50px;
    background-color: #fff;
}

.footer-block {
    height: 200px;
    padding: 50px;
    background-color: #af9453;
}

.footer-block p{
    display: inline-block;
    vertical-align: top;
    color: #fff;
    padding: 0px 15px;
}

.border-right {
    border-right: 1px solid;
}