body {
    overflow-y: auto;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding-left:30px;
    padding-right:30px;
}

.topnavbar {
    background-color: #fff;
    height:50px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

.topnavbar a {
    float: left;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    color: #000;
    font-size: 12px;
    font-weight: bold;
}

#logo {
    color: #af9453;
}

.topnavbar a.active {
    color: #8c7642;
}

span.right {
    float: right;
}

.headerImg {
    height: 400px;
    background-image: url(/images/image3.png);
    right: 0;
    left: 0;
    text-align: center;}

.headerImg p {
    margin: auto;
    font-size: 36px;
    font-family:Garamond, serif;
    color: #fff;
}

.tmp {
    height: 1000px;
    background-color: #000;
}

footer {
    padding: 50px;
    margin-bottom: 30px;
    background-color: #af9453;
}

footer p{
    display: inline-block;
    vertical-align: top;
}