body {
    overflow-y: auto;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.topnavbar {
    background-color: #fff;
    height:50px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

.topnavbar a {
    float: left;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    color: #000;
    font-size: 12px;
    font-weight: bold;
}

#logo {
    color: #af9453;
}

.topnavbar a.active {
    color: #8c7642;
}

span.right {
    float: right;
}

.block {
    text-align: center;
    white-space: normal;
}

.block::before {
    content:'';
    display: inline-block;
    height:100%;
    vertical-align: middle;
}

.centered {
    display: inline-block;
    vertical-align: middle;
}

.headerImg {
    height: 700px;
    background-image: url(/images/image3.png);
}

.headerImg p {
    font-size: 36px;
    font-family:Garamond, serif;
    color: #fff;
}

.tmp {
    height: 1000px;
    background-color: #000;
}

footer {
    padding: 50px;
    margin-bottom: 30px;
    background-color: #af9453;
}

footer p{
    display: inline-block;
    vertical-align: top;
}