body {
    overflow-y: auto;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

.topnavbar {
    background-color: #fff;
}

.topnavbar a {
    float: left;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    color: #000;
    font-size: 12px;
}

.topnavbar a.logo {
    color: #af9453;
}

.topnavbar a.active {
    color: #5a4c2b;
}

span.right {
    float: right;
}
