footer {
    background-color: #d0d0d0;
    text-align: center;
    height: 50px;
    line-height: 50px;
    position: fixed;
    bottom: 0px;
    width: 100%;
}

footer a {
    text-decoration: none;
}