/* You can add global styles to this file, and also import other style files */
html {
    height: 100%;
    font-family: sans-serif;
}
body {
    padding: 0px;
    margin: 0px;
    height: 100%;
}

app-root {
    height: 100%;
}